@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    html,body, #root {
        @apply h-full bg-backdrop text-white antialiased
    }
    #root {
        @apply flex flex-col
    }
    .wrapper {
        height: calc(100% - theme('spacing.24'));
        @apply flex
    }
}


#home .active {
    background-color: #282828;
    color: white;
}

#search .active {
    background-color: #282828;
    color: white;
}

#collections .active {
    background-color: #282828;
    color: white;
}